{% block content %}
<h1>Cadastro de Usuário</h1>
<form method="POST" action="{% url 'cadastro' %}">
    {% csrf_token %}
    <div>
        <label for="username">Nome de Usuário:</label>
        <input type="text" name="username" required />
    </div>
    <div>
        <label for="password1">Senha:</label>
        <input type="password" name="password1" required />
    </div>
    <div>
        <label for="password2">Confirmar Senha:</label>
        <input type="password" name="password2" required />
    </div>
    <button type="submit">Cadastrar</button>
</form>

<p>Já tem uma conta? <a href="{% url 'login' %}">Login</a></p>
{% if form.errors %}
<ul>
    {% for field in form %}
    {% for error in field.errors %}
    <li>{{ error }}</li>
    {% endfor %}
    {% endfor %}
</ul>
{% endif %}
{% endblock %}